body {
    padding: 0px;
    margin: 0px;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }

  .container {
    margin-left:10px;
    width:100%;
  }

  .table-container {
    width:1400px;
    height:500px;
    padding-left:85px;
  }
  
  .row {
    width:100%;
    margin:0px;
  }

  /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;  
}

/* Control the right side */
.right {
  right: 0;
  background-color: aquamarine;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
/* .centered img {
  width: 150px;
  border-radius: 50%;
} */


:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
} 
  
.select {
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.table-wrapper{
  overflow-y: scroll;
  overflow-x: scroll;
  height: 500px;
}

.table-wrapper th{
    position: sticky;
    top:0px;
}

/* A bit more styling to make it look better */
.table-wrapper{
  background:transparent;
}

table{
  border-collapse: collapse;
  width: 75%;
  table-layout:auto;
}

th{
    background: #DDD;
}

td,th{
  padding: 10px;
  text-align: center;
}

td { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
}