body {
    padding: 0px;
    margin: 0px;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  

/* .mapcontainer {
    background-color: aqua;
    

}

.container-fluid{
    background-color: blue;
}
 */


  
  