<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/meetupIcon.png" type="image/png" sizes="16x16">
    <title>TriState Meetup</title>
</head>
<body>
    <div class="container">
        <h1>IT WORKS!!!!!</h1>
    </div>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/index.js"></script> 
</body>
</html>